examples/activeWindow/activeWindow
examples/createAndHandleWindow/createAndHandleWindow
examples/createWindow/createWindow
examples/keyboardWrite/keyboardWrite
examples/mouseInfo/mouseInfo
examples/mouseMove/mouseMove
examples/windowTree/windowTree

